<p id="notice"><%= notice %></p>

<h1>Listandos passagens</h1>

<table>
  <thead>
    <tr>
      <th>Fonte</th>
      <th>Destino</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @passages.each do |passage| %>
      <tr>
        <td><%= passage.font %></td>
        <td><%= passage.destiny %></td>
        <td><%= link_to 'Mostrar', passage %></td>
        <td><%= link_to 'Editar', edit_passage_path(passage) %></td>
        <td><%= button_to 'Destruir', passage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova passagem', new_passage_path %>
